/************** GLOBAL STYLING **********/
html, body { 
    min-height:100%;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.logo {
    width: 85px;
    height: 80px;
}

h1,
h2,
h3 {
    color: #571616;
}
h2 {
    font-size: 28px;
    margin-top: 40px;
}
h3 {
    font-size: 20px;
    margin-top: 30px;
}

p {
    padding-left: 30px;
}

#homepage-img {
    height:300px;
    margin-left:auto;
    margin-right:auto;
    display: block
}

ul {
    margin-left: 20px;
    margin-top: 10px;
    /* list-style: none; */
}

ul.members-profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style:none;
}
  
li.card {
    flex: 0 0 calc(33% - 50px);
    margin-bottom: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    li.card {
        flex: 0 0 calc(50% - 20px);
    }
}

li {
    margin-bottom: 10px;
}

blockquote {
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 30px;
    border-left: 5px solid #333;
    padding-left: 10px;
}

.content-container {
    position: relative;
    min-height: 100%;
}

.container {
    margin: 0 auto;
    /* display: block; */
    padding: 20px;
    padding-bottom: 75px;
}


/* BUTTONS STYLING */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a32727;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #a34141;
}

button[type="submit"] {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    background-color: #a32727;
    color: #fff;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #a34141;
}

/* Card container */
.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
}

/* Card title */
.card h4 {
    margin-top: 0;
}

/* Card text */
.card p {
    margin-bottom: 10px;
}

/* Card hover effect */
.card:hover {
    border-color: #555;
}


/**************** HEADER STYLING ***************/
.header {
    text-align: center;
    color: #a32727;
    padding: 30px;
    font-style: italic;
}

.header h1 {
    font-size: 48px;
    color: #a32727;
    margin-top:0px;
    margin-bottom:0px;
}

#slogan {
    margin-top: 0;
    font-style: italic;
    font-size: 18px;
}

/************** NAVBAR STYLING ****************/
.navbar {
    background-color: #a32727;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar .active-link,
.navbar a:hover {
    background: #721c1c;
}

/************** FOOTER STYLING *********************/
.footer { 
    /* height: 70px; */
    text-align: center;
    color: white;
    background-color: #a32727;
    margin-top: 5px; 
    padding: 10px;
}

.footer a {
    text-decoration: none;
}

/************** CONTACT US STYLING ********************/

textarea {
    height: 100px;
    border: none;
    /* text-decoration: none; */
    border-bottom: 2px solid rgb(223, 81, 81);
    width: 70%;
    resize: vertical;
}

.form-row {
    margin: 10px;
    padding: 10px;
}
input[type=text] {
    border: none;
    border-bottom: 2px solid rgb(223, 81, 81);
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    display: block;
    width: 70%;
    height: 20px;
}

input[type=submit] {
    background-color: #a32727;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* float: center; */
}
  
input[type=submit]:hover {
    background-color: #a34141;
}

.col-1 {
    width: 65%;
    padding-right: 5%;
}

form {
    /* border-right: 1px solid #777; */
    padding: 10px;
}

.left-title {
    padding: 20px 30px;
}

#form-message-success {
    display: none;
    color: red;
}


/************** FAQ's STYLING ********************/
/* .faq-heading{
    border-bottom: #777;
    padding: 20px 60px;
    color: #721c1c;
} */

.faq-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hr-line{
  width: 60%;
  margin: auto;
  
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    background-color: #e49292;
    color: #a11111;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: #f7e2e2;
}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    width: 50%; 
    margin: auto;
    text-align: center;
    padding: 0 18px;
    background-color: #f1c5c5;
    display: none;
    overflow: hidden;
}

.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}


/************** BLOG PAGE STYLING ********************/
.blog-card {
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #f7e2e2;
    border-radius: 5px;
    border: none;
}
.blog-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

#try {
    color: rgb(58, 113, 150);
}

.blog-image {
    width: 50%;
    height: auto;
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
}

.credit {
    font-size: small;
    color: #777;
    text-decoration: none;
    text-align: center;
}

.title,
.author {
    font-family: sans-serif;
}

.title {
    float: left;
    margin-bottom: 0;
}

.author {
    /* float: right; */
    color: #777;
    font-weight: bold;
    margin-top: 30px;
    padding-top: 30px;
}